<div class="vr-add-transaction">
    <a class="vr-add-transaction__action vr-button vr-button--secondary" href="/transaction/income">ADD INCOME</a>
    <a class="vr-add-transaction__action vr-button vr-button--primary" href="/transaction/expense">ADD EXPENSE</a>
</div>