<footer class="voorrad__footer">
    <p>
        <small>
            &copy;2021 Programming & Design by Smaragda Kalogeropoulou & Victor Nastasa     
        </small>
    </p>
    <p>
        2nd Ironhack Project
    </p>
</footer>