<header class="voorrad__header vr-header">
    <a class="vr-header__logo" href="/{{#if user}}overview{{/if}}">
        <img src="/images/logo-voorrad_white.svg" alt="Voorrad Logo">
    </a>
    {{>navbar}}
</header>