<header class="voorrad__header vr-header">
    <a class="vr-header__logo" href="/{{#if user}}overview{{/if}}">
        <h1>
            <span class="sr-only">VOORRAD</span>
            <img src="/images/logo-voorrad_white.svg" alt="Voorrad Logo">
        </h1>
    </a>
    {{>navbar}}
</header>