<nav>
  {{#if user}}
    <a href="/overview">{{user.name}}'s Profile</a>
    <a href="/categories">Categories</a>
    <a href="/budget/month">Month</a>
    <a href="/budget/year">Year</a>
    <form action="/authentication/sign-out" method="POST">
      <button class="vr-signout-button">Sign Out</button>
    </form>
  
  {{/if}}
</nav>