<section class="vr-v-overview">
       <h2 class="vr-v-overview__headline">
          Overview
       </h2>

     <div class="vr-overview-wrapper">
          <p class="vr-v-overview__intro-text vr-intro">
            Welcome to Voorrad <strong>{{user.name}}</strong>!
       
          </p>
          <p class="vr-v-overview__intro-text vr-intro">
             You can go straight to the <a href="/categories">Categories</a> page to manage your categories, or you can start adding expenses/incomes.
          </p>

          <h4 class="vr-v-overview__balance">
             Current Balance: {{budget.currency}} {{budget.currentBalance}}
          </h4>
     </div>
     <div class="vr-v-overview__add-transaction">
         {{>addtransaction}}
     </div>
</section>