<h1>Overview</h1>
<p>This page should only be accessible to authenticated users.</p>
<span><strong>Name</strong>: {{user.name}}</span>
<br />
<span><strong>Email</strong>: {{user.email}}</span>
<br />
<span><strong>Current Balance</strong>: {{budget.currency}} {{budget.openingBalance}}</span>