<form action="/authentication/sign-up" method="POST">
  <label for="input-name">Name</label>
  <input type="text" id="input-name" name="name" placeholder="Your Name" />
  <label for="input-email">Email</label>
  <input type="email" id="input-email" name="email" placeholder="Your Email" />
  <label for="input-password">Password</label>
  <input type="password" name="password" id="input-password" placeholder="A Strong Password" />
  <label for="input-opening-balance">Current Balance</label>
  <input type="number" id="input-opening-balance" name="openingBalance" value="0" placeholder="Current Balance" />
  <label for="input-currency">Currency</label>    
  <select type="currency" id="input-currency" name="currency" required>
     <option value="€" selected>€</option>
     <option value="$">$</option>
  </select>

  <button>Sign Up</button>
</form>
