<div class="vr-intro-wrapper">
       <h4>Get your financial life together!</h4>
  <div class="vr-intro">
       <p>Welcome to {{title}}, navigate to the buttons below to sign in or sign up.</p>
  </div>
</div>

<div class="vr-v-overview-sign">
    <div class="vr-signin-up">       
        <a class="vr-signin-up__action vr-button" href="/authentication/sign-up">Sign Up</a>
        <a class="vr-signin-up__action vr-button" href="/authentication/sign-in">Sign In</a>
    </div>    
</div>