<div class="vr-intro-wrapper">
  <div class="vr-intro">
       <h2>{{title}}</h2>
       <p>Welcome to {{title}}, navigate to the buttons below to sign in or sign up</p>
  </div>
</div>
   <div class="vr-buttons-wrapper">
        <button class="vr-button">
           <a href="/authentication/sign-up">Sign Up</a>
        </button>
        <button class="vr-button">
           <a href="/authentication/sign-in">Sign In</a>
        </button>
  </div> 
