<section class="vr-homepage">
     {{#if user}}
     <h2 class="vr-homepage__headline">Get your financial life together!</h2>

     <p class="vr-homepage__intro vr-v-overview__intro-text vr-intro">
          You can go straight to the <a href="/categories">Categories</a> page to manage your categories, or you can start adding expenses/incomes.
     </p>
     <div class="vr-homepage__actions">
          {{>addtransaction}}
     </div>
     {{else}}
     <h2 class="vr-homepage__headline">Get your financial life together!</h2>
     <p class="vr-homepage__intro vr-intro">Welcome to {{title}}, sign-in to proceed or sign-up to get started.</p>

     <div class="vr-homepage__actions vr-signin-up">       
          <a class="vr-signin-up__action vr-button" href="/authentication/sign-up">Sign Up</a>
          <a class="vr-signin-up__action vr-button" href="/authentication/sign-in">Sign In</a>
     </div>
     {{/if}}
</section>