<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{title}}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body class="voorrad">
    {{>header}}
    <main class="voorrad__main">
      {{{body}}}
    </main>
    {{>footer}}
    <script src="/scripts/script.js"></script>
  </body>
</html>
