<section>
    <form method="POST">
        <label for="new-category">Add category:</label>
        <input type="text" id="new-category" name="name" placeholder="Category" required>

        <label for="new-planned-amount">Planned amount:</label>
        <input type="number" id="new-planned-amount" name="plannedAmount" placeholder="Planned Amount" value="0">

        <label for="new-label">Category type:</label>
        <select type="category" id="new-label" name="label" required>
            <option value="expense" >Expense</option>
            <option value="income" >Income</option>
        </select>

        <button type="submit">Add</button>
    </form>
</section>