<section>
    <h2>
        {{#if transactionSegments}}
        Choose a new category for the transactions
        {{else}}
        Confirm deletion
        {{/if}}
    </h2>

    <ul>
        {{#each transactionSegments}}
        <li>{{amount}}</li>
        {{/each}}
    </ul>

    <form method="POST">
        {{#if transactionSegments}}
        <label for="new-segments-category">Category</label>
        <select name="newCategory" id="new-segments-category" required>
            {{#each categories}}
            <option value="{{_id}}"> {{name}}</option>
            {{/each}}
        </select>
        {{/if}}

    <button type="submit">Delete {{#if transactionSegments}} & Update {{/if}}</button>

    </form>
</section>