<section>
    <h2>Edit the category</h2>
    <form method="POST">
        <label for="edit-category">Update category name:</label>
        <input type="text" id="edit-category" name="name" placeholder="Category" value="{{category.name}}" required>

        <label for="edit-planned-amount">Update planned amount:</label>
        <input type="number" id="edit-planned-amount" name="plannedAmount" value="{{category.plannedAmount}}" placeholder="Planned Amount" required>

        <button class="vr-button vr-button--secondary" type="submit">Update</button>
    </form>
</section>