<form action="/budget/categories" method="POST">
    <label for="new-category">Add category:</label>
    <input type="text" id="new-category" class="newItem" name="name" required>

    <label for="new-label">Was it expense or income?</label>
    <input type="text" id="new-label" class="newItem" name="label" required>
      
    <button type="submit" id="ctgr-button">Add</button>
</form>