<h1>Category List and Edit</h1>
<ul>
    {{#each categories}}
        <li>{{name}} / {{#compare label "===" "income"}}Income{{else}}Expense{{/compare}}</li>
    {{/each}}
</ul>



<a href="/budget/add-category"> 
 <button>Add category</button> 
</a>

   



