<h1>Category List and Edit</h1>
<div id="listContainer">
    <ul>
        {{#each categories}}
            <li>{{name}}</li>
        {{/each}}
    </ul>
</div>


<a href="/budget/add-category"> 
 <button>Add category</button> 
</a>

   



