<h1>Category List and Edit</h1>
<div id="listContainer">
{{#each categories}}
<ul>
    <li>{{name}}</li>
    <li>{{label}}</li>
</ul>

{{/each}}
</div>


<a href="/budget/add-category"> 
 <button>Add category</button> 
</a>

   



