<h1>{{title}}</h1>

<form action="" method="POST">
    {{!-- //in case we need to add upload option enctype="multipart/form-data"   --}}

    <label for="date">Date</label>
    <input type="date" id="date" name="date">

    <label for="amount">Amount</label>    
    <input type="number" id="amount" name="amount" required >
    
    <label for="category">Category</label>    
    <select type="category" id="category" name="category">
        <option value="" selected >Category</option>
        {{#each categories}}
       <option value="{{_id}}" >{{name}}</option>
        {{/each}}
    </select>

    <label for="notes">Notes</label>
    <textarea id="notes" name="notes" placeholder="Write anything" rows="2" cols="8"></textarea>
    <button type="sumbit">Add</button>

</form>