.vr-add-transaction {
  display: flex;
  justify-content: center;
  &__action {
    display: block;

    @media (min-width: 37.5em) {
      display: inline-block;
    }

    &:not(:first-child) {
      margin-top: 1.5rem;

      @media (min-width: 37.5em) {
        margin-top: 0;
        margin-left: 1.5rem;
      }
    }
  }
}
