.vr-add-transaction {
  @media (min-width: 37.5em) {
    display: flex;
    justify-content: center;
  }

  &__action {
    display: block;

    &:not(:first-child) {
      margin-top: 1.5rem;

      @media (min-width: 37.5em) {
        margin-top: 0;
        margin-left: 1.5rem;
      }
    }
  }
}
