.vr-button {
  display: inline-block;
  padding: 0.75em 1.5em;
  min-width: 15em;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  margin-top: 2em;
  color: $color-primary-dark;
  background-color: $color-primary-light;

  &--primary {
    color: $color-primary-light;
    background-color: $color-accent;
  }

  &--secondary {
    color: $color-primary-light;
    background-color: $color-secondary;
  }
}
