/* 
 * Style based on Ironmaker Boilerplate - Ironhack
 * TODO: to be refactored to BEM
 */

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5em;
  font-weight: 600;

  &:not(:first-child) {
    margin-top: 1em;
  }
}

input:not([type='checkbox']),
input:not([type='radio']),
input:not([type='range']),
textarea,
select,
button {
  padding: 1em;
  border: 1px solid currentColor;
  border-radius: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

select {
  background-color: $color-primary-dark;
}

textarea {
  min-height: 8em;
  resize: vertical;
}

button {
  margin-top: 1em;
}
