// Yearly Summary Tables
.vr-yearly-summary-table {
  margin-bottom: 3em;

  &__row-head {
    padding-right: 1em;
    text-align: left;
    white-space: nowrap;
    position: sticky;
    left: 0;
    background-color: $color-primary-dark;
    z-index: 1;
  }

  &__col-head {
    padding-bottom: 1em;
    text-align: right;

    &:first-child {
      position: sticky;
      left: 0;
      background-color: $color-primary-dark;
      z-index: 1;
    }
  }

  &__cell {
    padding: 0.2em 0.4em;
    text-align: right;
  }
}

// Categories Table
.vr-categories-tables {
  &__amount {
    text-align: right;
  }

  &__actions {
    padding-left: 1em;
    text-align: right;
  }
}

.vr-categories-tables-actions {
  &__entry:not(:first-child) {
    margin-left: 1em;
  }
}
