$font-sans: 'Poppins', sans-serif;

// Typography
$font-primary: 'Poppins', sans-serif;

// Colors
$_anthracite: #383e42;
$_crimson: #dc143c;
$_palegold: #e6be8a;
$_astongreen: #1b8f70;
$_floralwhite: #fffaf0;

$color-primary-dark: $_anthracite;
$color-primary-light: $_floralwhite;
$color-accent: $_crimson;
$color-secondary: $_astongreen;
$color-tertiary: $_palegold;
