/* 
 * TODO: to be refactored to BEM
 */

.vr-monthly {
  &__accounting {
    margin-top: 2em;
  }
}

.month-blnc {
  margin-top: 2em;
  text-align: left;
  columns: 3;
  width: 100%;

  h3 {
    column-span: all;
  }
}

.table-month {
  a {
    text-decoration: none;
  }

  &__numbers {
    text-align: right;
  }
}

.vr-amounts {
  color: $color-tertiary;
}

.vr-monthly-accounting {
  @media (min-width: 64em) {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    column-gap: 3em;
  }

  &__headline {
    grid-column: 1 / -1;
  }

  &__transactions {
    width: 100%;
  }

  &__budget {
    width: 100%;
    margin-top: 2em;

    @media (min-width: 64em) {
      margin-top: 0;
    }
  }
}
